@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Manrope";
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

::-webkit-scrollbar-thumb {
    width: .5rem;
    height: .5rem;
}

.input {
    outline: none;
    font-family: "Montserrat";
    padding: 0 .5rem;
    font-size: 1rem;
    border-radius: .2rem;
    border: 1px solid gray;
}

.input:focus {
    border: none;
    outline: 2px solid cornflowerblue;
}

label {
    font-family: "Montserrat";
    width: 100%;
    margin: auto .5rem;
}

.no-hover-icon {
    color: 'white';
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.icon {
    color: 'white';
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: .3rem;
    margin-left: .5rem;
    font-size: '1.5rem';
}

.icon:hover {
    color: cornflowerblue;
}

.warning-input {}

.warning-input:focus {
    border: none;
    outline: 2px solid orangered;
}

.smButton {
    background-color: orange;
    transition: all 150ms ease;
}

.smButton:hover {
    cursor: pointer;
    color: white;
    background-color: greenyellow;
}

.mid-btn {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    cursor: pointer;
}

.primary-btn {
    background: cornflowerblue;
    color: white;
    transition: all 150ms ease;
}

.primary-btn:hover {
    cursor: pointer;
    background-color: rgb(132, 169, 236);
    color: white;
}

.back-btn {
    background: orangered;
    color: white;
    transition: all 150ms ease;
}

.back-btn:hover {
    cursor: pointer;
    background-color: rgb(255, 124, 76);
    color: white;
}

.btn-1 {
    /* display: none; */
    background-color: cornflowerblue;
    color: white;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: .3rem;
    transition: all 150ms ease;
}

.btn-1:hover {
    cursor: pointer;
    background-color: white;
    color: cornflowerblue
}

.active-btn-1 {
    cursor: pointer;
    background-color: white;
    color: cornflowerblue
}

.dormant {
    transition: all 150ms ease;
}

.dormant:hover {
    cursor: pointer;
    background-color: rgb(240, 172, 89);
    color: white;
}

.hollow-btn {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: .3rem;
    border: 1px solid gray;
    transition: all 150ms ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    gap: .5rem;
}

.hollow-btn:hover {
    /* background-color: rgb(132, 169, 236);
    border-color: rgb(164, 187, 229);
    color: white; */
}

.small-rounded-btn {
    border-radius: .35rem;
    border: '1px solid gray';
    transition: all 150ms ease;
}

.warning-btn-1:hover {
    cursor: pointer;
    background-color: rgba(255, 123, 0, 0.963);
    color: white;
}

.btn-2 {
    background-color: 'orange';
    color: 'red'
}

.car-box {
    cursor: pointer;
    transition: all 150ms ease;
}

.car-box:hover {
    transform: translateY(.5rem);
}

.show-menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -15rem;
    -webkit-animation: hide 200ms linear forwards;
    animation: show 200ms linear forwards
}

@keyframes show {
    100% {
        left: 0rem;
    }
}

@-webkit-keyframes show {
    100% {
        left: 0rem;
    }
}

.hide-menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0rem;
    -webkit-animation: hide 200ms linear forwards;
    animation: hide 200ms linear forwards;
}

@-webkit-keyframes hide {
    100% {
        left: -15rem;
    }
}

@keyframes hide {
    100% {
        left: -15rem;
    }
}